Pandata Code for testing

In [5]:
# The code was removed by Watson Studio for sharing.

              Local Grade  (Multiple Items)          Unnamed: 2   Unnamed: 3
0             Client Name  (Multiple Items)                 NaN          NaN
1           Leader's Name           Genesis                 NaN          NaN
2                     NaN               NaN                 NaN          NaN
3              Row Labels       Sum of Fail  Sum of not appeard  Sum of Pass
4  . Rajanikant (rajanik)                 0                   1            0

In [2]:
df()

NameError: name 'df' is not defined

In [6]:
print(df)

                               Local Grade  (Multiple Items)  \
0                              Client Name  (Multiple Items)
1                            Leader's Name           Genesis
2                                      NaN               NaN
3                               Row Labels       Sum of Fail
4                   . Rajanikant (rajanik)                 0
5                    Adams Jo Ann (jadams)                 0
6    Akuthota LakshmiPravallika (lakuthot)                 0
7             Alvarez Alexander (aalvarez)                 0
8                      ar Manjula (manjar)                 0
9          Arisetty Nikhil Raja (narisett)                 0
10          ASAMPELLI VENKATESH (vasampel)                 4
11            Badawadagi Shruti (sbadawad)                 0
12         Bejjarapu Prathyusha (pbejjara)                 0
13            Chandrappa Sowmya (sowmycha)                 0
14        Chandrasekar Gopinath (gopchand)                 0
15             Deshmukh Durgesh (dudeshmu)                 0
16     DORAISWAMY VARUN KAUSHIK (vdoraisw)                 0
17           Drakshayani Paluri (pdraksha)                 0
18            Eswaraiah Madakala (emadaka)                 0
19              Gangadaran Indu (igangada)                 1
20            Gautam Amit Kumar (amigauta)                 0
21                   Holmes Macy (mholmes)                 1
22          Jeevana Teretupally (tejeevan)                 0
23         Jena Akash Priyaranjan (akjena)                 0
24                  Kadam Nayan (naykadam)                 1
25                     KL Lavanya (lavakl)                 1
26                   KS Manjunath (manjks)                 0
27   Kukmmithi Ramakesava Reddy (kumreddy)                 0
28                  kumar Rohit (rohikuma)                 0
29                  Kumar Vinod (vkumar81)                 0
..                                     ...               ...
42              NELLURU DAMODAR (dnelluru)                 0
43             Padala Sai Durga (saipadal)                 0
44                    Pai Roopika (roopai)                 0
45            PALAKURTHI AKHILA (akpalaku)                 0
46            Panchal Ajaykumar (apanchal)                 0
47                  Patel Mohit (mohipate)                 0
48             Rahman Hmmasudur (masrahma)                 1
49  Reddy Guddam Nagalingeswara (nreddygu)                 0
50              Reddy NagaLinga (nagalred)                 0
51               S N Naveen Kumar (navesn)                 0
52               Saneja Priyanka (psaneja)                 0
53                       Shah Jay (jshah5)                 3
54               Sharma Jyotish (jyotisha)                 0
55           Shivashankar Anita (anshivas)                 0
56                  Singh Nisha (nsingh22)                 0
57               Singhal Ankita (ankigoel)                 0
58                  somu vasantha (vasomu)                 1
59              Sravani Thogaru (tsravani)                 1
60                    Sree Jyothi (jysree)                 0
61           sukanya pamudurthi (psukanya)                 0
62                 Tarun Tooprani (ttarun)                 0
63              Thevar Mariammal (mthevar)                 1
64          Tipparam Venu Kumar (vtippara)                 0
65              Tripathi Chhaya (ctripath)                 1
66                  Tyagi Arnav (arntyagi)                 0
67                    V.G. Naviya (navivg)                 0
68            Vankadari Lakshmi (lvankada)                 0
69             Venkatesan Durga (duvenkat)                 1
70         Yetukuri Giriprasadu (gyetukur)                 1
71                             Grand Total                30

            Unnamed: 2   Unnamed: 3
0                  NaN          NaN
1                  NaN          NaN
2                  NaN          NaN
3   Sum of not appeard  Sum of Pass
4                    1            0
5                    1            0
6                    1            0
7                    1            0
8                    4            0
9                    1            0
10                   0            1
11                   0            0
12                   1            0
13                   0            1
14                   1            0
15                   1            0
16                   5            0
17                   0            0
18                   1            0
19                   4            0
20                   1            0
21                   0            0
22                   0            0
23                   3            0
24                   2            0
25                   0            2
26                   6            0
27                   3            0
28                   3            0
29                   5            0
..                 ...          ...
42                   0            0
43                   0            2
44                   1            0
45                   0            0
46                   1            0
47                   1            0
48                   3            1
49                   1            0
50                   2            0
51                   2            1
52                   4            0
53                   0            2
54                   1            0
55                   0            0
56                   1            0
57                   3            1
58                   0            2
59                   3            0
60                   3            0
61                   1            1
62                   1            0
63                   1            1
64                   1            0
65                   0            2
66                   0            0
67                   1            2
68                   0            0
69                   0            1
70                   2            2
71                  96           28

[72 rows x 4 columns]